/* COLORS */
$bg_light_grey: #dce1e7;
$menu_light_grey: #e7e3e2;
$light_grey: #a8b2bc;
$medium_grey: #676767;
$dark_grey: #212121;

$yellow: #f2ce00;
$red: rgb(230, 12, 45);

/* FONTS */
$poppins: "Poppins", sans-serif;
$garamond: "EB Garamond", serif;

/* ANIMATIONS */
$anim_fast: 0.2s;
$anim_slow: 0.5s;

$smooth_bezier: cubic-bezier(0.17, 0.67, 0.1, 0.75);

/* LAYOUT */
$column_gap: 0px;
@mixin s_screen {
  $column_gap: 2vw;
}
@mixin xl_screen {
  $column_gap: 30px;
}
