/* COLORS */
$bgLightGrey: #dce1e7;
$lightGrey: #a8b2bc;
$mediumGrey: #676767;
$darkGrey: #333333;

$yellow: #f2ce00;

/* FONTS */
$poppins: "Poppins", sans-serif;
$garamond: "EB Garamond", serif;

/* ANIMATIONS */
$animFast: 0.2s;
$animSlow: 0.5s;

/* LAYOUT */
$columnGap: 0px;
@mixin smallScreen {
  $columnGap: 2vw;
}
@mixin XLargeScreen {
  $columnGap: 30px;
}
