.button {
  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    @mixin m_screen {
      height: 68px;
      width: 68px;
    }
  }

  &__circle-arrow {
    font-size: 1.2rem;
    color: $dark_grey;
  }

  &__rounded {
    display: inline-flex;
    align-items: center;
    height: 50px;
    padding: 0px 25px;
    border: 1px solid $dark_grey;
    border-radius: 35px;
    background-color: transparent;
    transition: all $anim_fast ease-out;

    font-family: $poppins;
    font-size: 0.65rem;
    font-weight: 600;
    text-transform: uppercase;

    @mixin xs_screen {
      font-size: 0.8rem;
      height: 60px;
      padding: 0px 35px;
    }

    @mixin m_screen {
      height: 70px;
      padding: 0px 70px;
    }

    &:hover {
      background-color: $yellow;
      border-color: $yellow;
    }
  }

  &__yellow {
    background-color: $yellow;
    border: 1px solid $yellow;
  }
}
