.card {
  background-color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__image-wrap {
    position: relative;
    height: 230px;
    width: 100%;

    figure {
      display: flex; /* in order to use "object-fit" on 'img' */
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      img {
        position: relative;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        z-index: 1;
      }
    }
  }

  &__text-wrap {
    padding: 20px 28px;
  }

  &__text-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__menu-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    fill: $darkGrey;
    cursor: pointer;
  }

  &__title-small {
    font-family: $poppins;
    font-size: 0.8rem;
    font-weight: 800;
  }

  &__title-large {
    padding-right: 20px;
    font-family: $poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
  }

  &__p {
    padding-right: 20px;
    font-family: $poppins;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
  }

  &__video-i-wrap,
  &__heart-i-wrap {
    position: absolute;
    z-index: 2; /* to be above image's bottom gradient*/
  }

  &__video-i-wrap {
    bottom: 15px;
    left: 20px;
  }

  &__heart-i-wrap {
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

  &__video-icon,
  &__heart-icon {
    height: 30px;
    width: 30px;
    fill: #fff;
  }

  &__video-icon--dark,
  &__heart-icon--dark {
    fill: $darkGrey;
  }

  &__heart-icon--shadow {
    filter: drop-shadow(0 0mm 3mm rgb(0, 0, 0));
  }
}

/* LARGE CARD */

.card {
  &__large {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  &__large > &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
  &__large &__image-wrap {
    justify-self: stretch;
    grid-column: 1 / 3;
    height: 100%;
  }

  &__large &__text-wrap {
    grid-column: 3 / 4;
    padding: 28px;
    padding-left: 20px;
  }
}
