.grid {
  display: grid;

  &__3col {
    grid-template-columns: minmax(100px, 240px);
    justify-content: center;
    row-gap: 4vw;
    column-gap: $columnGap;

    @mixin XSmallScreen {
      grid-template-columns: minmax(100px, 350px);
    }

    @mixin smallScreen {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    @mixin mediumScreen {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    @mixin XLargeScreen {
      row-gap: 55px;
    }
  }
}
