.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  padding-top: 4px;
  border-bottom: 1px solid $lightGrey;

  @mixin largeScreen {
    height: 88px;
  }

  &__logo {
    flex: 1;
  }

  &__logo a {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    font-family: $poppins;
    font-size: 1rem;
    font-weight: 400;
    color: $darkGrey;
    text-transform: uppercase;
    text-decoration: none;

    @mixin XLargeScreen {
      font-size: 1.2rem;
    }
  }

  &__main-nav {
    flex: 3;
    display: none;
    justify-content: center;
    padding-bottom: 20px;

    @mixin largeScreen {
      display: flex;
    }

    ul {
      display: flex;
      list-style: none;
    }

    li {
      padding: 0 17px;
    }
  }

  &__main-nav-link {
    position: relative;
    font-family: $poppins;
    font-size: 0.85rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: $mediumGrey;
    transition: all $animFast ease-out;

    &::after {
      content: "";
      position: absolute;
      top: 38px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: transparent;
      transition: all $animFast ease-out;
    }

    &--selected,
    &:hover {
      color: $darkGrey;
      &::after {
        content: "";
        height: 3px;
        background-color: $darkGrey;
      }
    }
  }

  &__right-part {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__tools {
    display: none;

    @mixin smallScreen {
      display: flex;
      align-items: flex-end;
      padding: 20px 10px;
      border-right: 1px solid $lightGrey;
    }

    @mixin largeScreen {
      padding: 20px 26px;
    }
  }

  &__tools-icons {
    height: 24px;
    width: 24px;
    margin: 0 10px;
    fill: $darkGrey;
    transition: fill$animFasts ease-out;
    cursor: pointer;

    &:hover {
      fill: $mediumGrey;
    }

    @mixin largeScreen {
      margin: 0 4px;
    }
  }

  &__burger {
    display: flex;
    align-items: flex-end;
    padding: 20px;

    @mixin largeScreen {
      padding: 20px 26px;
    }
  }

  &__burger-icon {
    height: 20px;
    width: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      span {
        background-color: $mediumGrey;
        transition: back$animFastnd-color 0.2s ease-out;
        &::before,
        &::after {
          background-color: $mediumGrey;
          transition: back$animFastnd-color 0.2s ease-out;
        }
      }
    }

    span {
      position: relative;
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: $darkGrey;

      &::before,
      &::after {
        content: "";
        height: 2px;
        width: 30px;
        position: absolute;
        background-color: $darkGrey;
      }

      &::before {
        top: -7px;
      }

      &::after {
        top: 7px;
      }
    }
  }
}
