.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  padding-top: 4px;
  border-bottom: 1px solid $light_grey;

  @mixin l_screen {
    height: 88px;
  }

  &__logo {
    flex: 1;
  }

  &__logo a {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    font-family: $poppins;
    font-size: 1rem;
    font-weight: 400;
    color: $dark_grey;
    text-transform: uppercase;
    text-decoration: none;

    @mixin xl_screen {
      font-size: 1.2rem;
    }

    img {
      max-height: 36px;
    }
  }

  &__main-nav {
    flex: 3;
    display: none;
    justify-content: center;
    padding-bottom: 20px;

    @mixin l_screen {
      display: flex;
    }

    ul {
      display: flex;
      list-style: none;
    }

    li {
      padding: 0 17px;
    }
  }

  &__main-nav-link {
    position: relative;
    font-family: $poppins;
    font-size: 0.85rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: $medium_grey;
    transition: all $anim_fast ease-out;

    &::after {
      content: "";
      position: absolute;
      top: 38px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: transparent;
      transition: all $anim_fast ease-out;
    }

    &--selected,
    &:hover {
      color: $dark_grey;
      &::after {
        content: "";
        height: 3px;
        background-color: $dark_grey;
      }
    }
  }

  &__right-part {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__tools {
    display: none;

    @mixin s_screen {
      display: flex;
      align-items: flex-end;
      padding: 20px 10px;
      border-right: 1px solid $light_grey;
    }

    @mixin l_screen {
      padding: 20px 26px;
    }
  }

  &__tools-item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    margin: 0;
  }

  &__login {
    position: relative;
    transform: translateY(20px);
  }

  &__login-icon {
    margin-bottom: 20px;
  }

  &__tools-icons {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-right: 10px;
    fill: $dark_grey;
    transition: all $anim_fast ease-out;
    cursor: pointer;

    &:hover {
      fill: $medium_grey;
      transform: scale(1.2);
    }
  }

  &__burger {
    display: flex;
    align-items: flex-end;
    padding: 20px;

    @mixin l_screen {
      padding: 20px 26px;
    }
  }

  &__burger-icon {
    height: 20px;
    width: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      span {
        background-color: $medium_grey;
        transition: background-color $anim_fast ease-out;
        &::before,
        &::after {
          background-color: $medium_grey;
          transform: scale(0.8, 1);
        }
      }
    }

    span {
      position: relative;
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: $dark_grey;
      transition: background-color $anim_fast ease-out;

      &::before,
      &::after {
        content: "";
        height: 2px;
        width: 30px;
        transform: translateY(0);
        position: absolute;
        background-color: $dark_grey;
        transition: all $anim_fast ease-out;
      }

      &::before {
        top: -7px;
      }

      &::after {
        top: 7px;
      }
    }
  }
}
