.home-chef {
  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    grid-column: span 2;
  }

  &__titles-wrap {
    @mixin s_screen {
      position: absolute;
      top: 100px;
      left: 80px;
      z-index: 1;
    }
  }

  &__image {
    width: 100%;

    @mixin xs_screen {
      width: 60%;
    }

    @mixin s_screen {
      width: calc(50% - ($column_gap / 2));
      height: 50vw;
      margin-left: auto;
    }

    @mixin l_screen {
      height: 500px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__sign {
    max-width: 200px;
  }

  &__right-part {
    grid-column: span 2;
    align-self: end;
    padding-left: 20px;
    padding-bottom: 10px;

    @mixin m_screen {
      grid-column: span 1;
    }
  }
}
