:root {
  --fading_size: 20px;
}

@mixin m_screen {
  :root {
    --fading_size: 40px;
  }
}

.services {
  &__carousel {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: var(--fading_size);
      z-index: 2;
    }

    &::before {
      left: 0;
      background: linear-gradient(
        90deg,
        rgba($bg_light_grey, 1) 0%,
        rgba($bg_light_grey, 0) 100%
      );
    }

    &::after {
      right: 0;
      background: linear-gradient(
        270deg,
        rgba($bg_light_grey, 1) 0%,
        rgba($bg_light_grey, 0) 100%
      );
    }
  }

  &__wrap {
    display: grid;
    grid-auto-columns: 180px;
    grid-auto-flow: column;
    column-gap: 20px;
    padding: 0 var(--fading_size); /* to avoid the dradient to overlap first and last items */
    padding-bottom: 20px; /* to avoid scroll bar to overlap items */
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-snap-type: x mandatory;
    scroll-padding-inline-start: 40px;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    @mixin xs_screen {
      grid-auto-columns: 270px;
    }

    @mixin m_screen {
      grid-auto-columns: 320px;
    }

    /* add an element after last child to simulate right padding */
    &:last-child {
      position: relative;
    }

    &:last-child::after {
      content: "";
      position: relative;
      height: 100%;
      left: -20px; /* bug fix: same value as column gap. But why? */
      width: var(--fading_size);
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0;
    color: $dark_grey;
    scroll-snap-align: start;
    /* box-shadow instead of border to be able to animate it on hover without changing card's layout */
    box-shadow: inset 0 0 0 1px $medium_grey;
    transition: all $anim_fast ease-out;

    @mixin m_screen {
      padding: 15px;
    }

    &:hover {
      background-color: $yellow;
    }
  }

  &__figure {
    display: flex; /* in order to use "object-fit" on 'img' */
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;

    @mixin m_screen {
      height: 125px;
    }

    img {
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px 10px;
    flex: 1;

    @mixin m_screen {
      padding: 35px 20px 0px 20px;
    }
  }

  &__title {
    flex: 1;
    margin-bottom: 20px;
    font-family: $poppins;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;

    @mixin xs_screen {
      height: 50px;
      margin-bottom: 0;
    }

    @mixin m_screen {
      height: 60px;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  &__p,
  &__btn {
    font-family: $garamond;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic;
  }

  &__p {
    display: none;
    flex: 1;
    margin-bottom: 18px;

    @mixin xs_screen {
      display: block;
    }

    @mixin m_screen {
      margin-bottom: 30px;
    }
  }

  &__btn {
    padding-bottom: 10px;
    border-bottom: 2px solid $dark_grey;

    @mixin xs_screen {
      padding-bottom: 20px;
    }
  }
}
