.spantitle {
  &__serif-s {
    font-family: $garamond;
    font-size: 0.8rem;
    font-weight: 200;
    font-style: italic;

    @mixin m_screen {
      font-size: 1rem;
    }
  }

  &__sansserif-m {
    font-family: $poppins;
    font-size: 0.8rem;
    font-weight: 200;

    @mixin m_screen {
      font-size: 1.2rem;
    }
  }
}
